<%- include('../includes/header')-%>
        <div class="wrapper">
          <%- include('../includes/topbar')-%>

            <div class="page-wrap">
              <%- include('../includes/sidebar')-%>

                
               
            <div class="main-content">
                <div class="container-fluid">
                    <div class="records clearfix">
                        <div class="col-md-10">
                            <h1 class="text-center">উপজেলা সংক্রান্ত তথ্য</h1>
                        </div>
                       
                    </div>

                    <div class="table-responsive" id="output">
                            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>জেলা</th>
                                <th>উপজেলা</th>
                                <th>উপজেলা কৃষি অফিসারের নাম</th>
                                <th>উপজেলা কৃষি অফিসারের মোবাইল নং</th>
                                <th>ইউজার নেম</th>
                                <th>উপজেলা সংক্রান্ত তথ্য ফাইল</th>
                                <th>ফাইল আপ্লোড করুন</th>
                                <th>যোগ করুন/পরিবর্তন করুন</th>
                                <th>পাসওয়ার্ড পরিবর্তন করুন</th>
                            </tr>
                            </thead> 
                            <tbody>
                                
                                    <tr>
                                        <td><%= records.district %></td>
                                        <td><%= records.upazilla %></td>   
                                        <td><%= records.officer %></td>               
                                        <td><%= records.mobile %></td>
                                        <td><%= records.uname %></td>
                                        <td><%= records.image %></td>
                                        <td><a class="btn btn-primary btn-xs" href="/upazilla/upazillaFile"><i class="fa fa-edit"></i></a>
                                        <td><a class="btn btn-primary btn-xs" href="/upazilla/upazillaEdit/<%= records.id %>"><i class="fa fa-edit"></i></a>
                                        <td><a class="btn btn-primary btn-xs" href="/upazilla/upazillaPassword/<%= records.id %>"><i class="fa fa-wrench"></i></a>
                                        </td>
                                    </tr>
                                
                            </tbody>
                        </table>
                    </div>

                    <div id="output"></div>
                </div>
            </div>
        </div>
        
        <%- include('../includes/footer')-%>