<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="signin_signup/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/animate/animate.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/signin_signup/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/select2/select2.min.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/signin_signup/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/main_css/util.css">
      <link rel="stylesheet" type="text/css" href="/signin_signup/main_css/main.css">
   
  </head>
  <body>
      <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <form action="/upazilla/signups" id="EmployeeForm" class="login100-form validate-form" method="post" role="form">
              <% if( msg !=''){ %>
                <div id="signupalert" class="alert alert-danger" >
                  <p><%= msg %> </p>
                </div>
                <% } %>
              <span class="login100-form-title p-b-43">
                <%= title %>
                <br>
                Upazilla SignUp
              </span>

              <label>জেলা বাছুন:</label>
              <select name="dds" class="form-control">
                <!-- <% records.forEach(function(row){ %>
                    <option value=<%= row.id%> ><%= row.district%> </option>
                <% }) %> -->
                    <option value="1">ঢাকা</option>
                    <option value="2">চট্টগ্রাম</option>
                    <option value="3">রাজশাহী</option>
                    <option value="4">যশোর</option>
                    <option value="5">দিনাজপুর</option>
                    <option value="6">ময়মনসিংহ</option>
                    <option value="7">কুমিল্লা</option>
                    <option value="8">বরিশাল</option>
                    <option value="9">ফরিদপুর</option>
                    <option value="10">বগুড়া</option>
                    <option value="11">পাবনা</option>
                    <option value="12">রাঙ্গামাটি</option>
                    <option value="13">কুষ্টিয়া</option>
                    <option value="14">রংপুর</option>
                    <option value="15">নোয়াখালী</option>
                    <option value="16">খুলনা</option>
                    <option value="17">টাঙ্গাইল</option>
                    <option value="18">পঞ্চগড়</option>
                    <option value="19">ভোলা</option>
                    <option value="20">বান্দরবান</option>
                    <option value="21">চাঁদপুর</option>
                    <option value="22">হবিগঞ্জ</option>
                    <option value="23">লক্ষীপুর</option>
                    <option value="24">বরগুনা</option>
                    <option value="25">ঝালকাঠি</option>
                    <option value="26">পিরোজপুর</option>
                    <option value="27">পটুয়াখালী</option>
                    <option value="28">ঝিনাইদহ</option>
                    <option value="29">নড়াইল</option>
                    <option value="30">মাগুরা</option>
                    <option value="31">লালমনিরহাট</option>
                    <option value="32">কুড়িগ্রাম</option>
                    <option value="33">নীলফামারী</option>
                    <option value="34">গাইবান্ধা</option>
                    <option value="35">ঠাকুরগাঁ</option>
                    <option value="36">সাতক্ষিরা</option>
                    <option value="37">বাগেরহাট</option>
                    <option value="38">চুয়াডাঙ্গা</option>
                    <option value="39">মেহেরপুর</option>
                    <option value="40">সিরাজগঞ্জ</option>
                    <option value="41">জয়পুরহাট</option>
                    <option value="42">নাটোর</option>
                    <option value="43">নওগাঁ</option>
                    <option value="44">নওয়াবগঞ্জ</option>
                    <option value="45">খাগড়াছড়ি</option>
                    <option value="46">ফেনী</option>
                    <option value="47">ব্রাহ্মণবাড়ীয়া</option>
                    <option value="48">সুনামগঞ্জ</option>
                    <option value="49">কক্সবাজার</option>
                    <option value="50">মৌলভীবাজার</option>
                    <option value="51">গোপালগঞ্জ</option>
                    <option value="52">শরীয়তপুর</option>
                    <option value="53">মাদারীপুর</option>
                    <option value="54">রাজবাড়ী</option>
                    <option value="55">গাজীপুর</option>
                    <option value="56">কিশোরগঞ্জ</option>
                    <option value="57">জামালপুর</option>
                    <option value="58">শেরপুর</option>
                    <option value="59">নেত্রকোনা</option>
                    <option value="60">মুন্সীগঞ্জ</option>
                    <option value="61">নরসিংদী</option>
                    <option value="62">নারায়ণগঞ্জ</option>
                    <option value="63">মানিকগঞ্জ</option>
                    <option value="64">সিলেট</option>

              </select>

              <div class="wrap-input100 validate-input" data-validate="উপজেলার নাম is required" >
                <input class="input100" type="text"  name="upazillas" >
                <span class="focus-input100"></span>
                <span class="label-input100">উপজেলার নাম</span>
              </div>

              <div class="wrap-input100 validate-input" data-validate="User Name is required" >
                <input class="input100" type="uname"  name="uname" >
                <span class="focus-input100"></span>
                <span class="label-input100">User Name</span>
              </div>
              
              <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" name="password" >
                <span class="focus-input100"></span>
                <span class="label-input100">Password</span>
              </div>

              <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" type="password" name="confirmPassword" >
                <span class="focus-input100"></span>
                <span class="label-input100">Confirm Password</span>
              </div>
    
            
          
    
              <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                  Sign up
                </button>
              </div>

              <p class="text-center">If you have already created account, please do signin!</p>
              <div class="container-login100-form-btn">
                <a href="/upazilla/login" class="login100-form-btn">Sign In</a>
               </button>
             </div>
              
            </form>
            
            <div class="login100-more" style="background-image: url('/images/fruit2.jpg');">
            </div>
          </div>
        </div>
      </div>


    <!--===============================================================================================-->
	<script src="/signin_signup/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/bootstrap/js/popper.js"></script>
    <script src="/signin_signup/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/daterangepicker/moment.min.js"></script>
    <script src="/signin_signup/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/main_js/main.js"></script>
  
  </body>
</html>
