<%- include('../includes/header')-%>
        <div class="wrapper">
          <%- include('../includes/topbar')-%>

            <div class="page-wrap">
              <%- include('../includes/sidebar')-%>

                
              <div class="container gallery-container">
                <h1 text-align:center>নোটিশ বোর্ড</h1>
                
                <div class="tz-gallery">
                    <div class="row">
                        <%if (upazillas.length >0){ %>
                            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>ক্রমিক নং</th>
                                <th>উপজেলা</th>
                                <th>উপজেলা কৃষি অফিসারের নাম</th>
                                <th>উপজেলা কৃষি অফিসারের মোবাইল নং</th>
                                <th>ইউজার নেম</th>
                                <th>উপজেলা সংক্রান্ত তথ্য ফাইল</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% upazillas.forEach(function(row,index){ %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td><%= row.upazilla %></td>   
                                        <td><%= row.officer %></td>               
                                        <td><%= row.mobile %></td>
                                        <td><%= row.uname %></td>
                                        <td><a  href="<%= row.image %>"><i class="fas fa-file"></i>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <% }else{ %>
                            <table class="table table-bordered table-striped" id="tblexportData" cellspacing="0" cellpadding="0">
                                <thead>
                                <tr>
                                    <th>ক্রমিক নং</th>
                                    <th>টাইটেল</th>
                                    <th>ফাইল</th>
                                    <th>পরিবর্তন/মুছুন</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% upazillas.forEach(function(row){ %>
                                    <tr>
                                        <td colspan="10">No data Found</td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        <% } %>
                        

                    </div>
            
                </div>
            
            </div>
        </div>
        
        <%- include('../includes/footer')-%>