<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th rowspan="2">ক্রমিক নং</th>
        <th rowspan="2">কৃষক প্রশিক্ষণের বিষয়</th>
        <th colspan="2" style="text-align:center">প্রশিক্ষণের </th>
        <th rowspan="2">কৃষক/কৃষাণীর নাম,ঠিকানা,পরিচিতি নম্বর ও মোবাইল নং</th>
        <th rowspan="2">প্রশিক্ষণ শুরুর তারিখ</th>
        <th rowspan="2">প্রশিক্ষণ সমাপ্তির তারিখ</th>
        <th rowspan="2">প্রশিক্ষক/রিসোর্স পারসনের নাম ও পদবী</th>
        <th rowspan="2">প্রশিক্ষণ সম্বন্ধে কৃষক/কৃষাণীর মন্তব্য/ফিডব্যাক</th>
        <th rowspan="2">উপ-পরিচালকের মন্তব্য</th>
        <th rowspan="2">প্রকল্প পরিচালকের মন্তব্য</th>
        <th rowspan="2">মন্তব্য করুন</th>
    </tr>
    <tr>
        <th >লক্ষ্যমাত্রা(ব্যাচ) </th>
        <th >অর্জন(ব্যাচ) </th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index) { %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.topic%></td>
                <td><%= row.target%></td>
                <td><%= row.achieved%></td>
                <td><%= row.name %></td>
                <td><%= row.date %></td>
                <td><%= row.finishDate %></td>
                <td><%= row.resource %></td>
                <td><%= row.feedback %></td>
                <td><%= row.ddComment %></td>
                <td><%= row.pdComment %></td>
                <td><a class="btn btn-primary btn-xs" href="/dd/trainedFarmerEdit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th rowspan="2">ক্রমিক নং</th>
            <th rowspan="2">কৃষক প্রশিক্ষণের বিষয়</th>
            <th colspan="2" style="text-align:center">প্রশিক্ষণের </th>
            <th rowspan="2">কৃষক/কৃষাণীর নাম,ঠিকানা,পরিচিতি নম্বর ও মোবাইল নং</th>
            <th rowspan="2">প্রশিক্ষণ শুরুর তারিখ</th>
            <th rowspan="2">প্রশিক্ষণ সমাপ্তির তারিখ</th>
            <th rowspan="2">প্রশিক্ষক/রিসোর্স পারসনের নাম ও পদবী</th>
            <th rowspan="2">প্রশিক্ষণ সম্বন্ধে কৃষক/কৃষাণীর মন্তব্য/ফিডব্যাক</th>
            <th rowspan="2">উপ-পরিচালকের মন্তব্য</th>
            <th rowspan="2">প্রকল্প পরিচালকের মন্তব্য</th>
        </tr>
        <tr>
            <th >লক্ষ্যমাত্রা(ব্যাচ) </th>
            <th >অর্জন(ব্যাচ) </th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>