<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                            <div class="container gallery-container">
                                <form action="/upazilla/kochudemonstrationInitialFilePost" id="FieldTrialForm" class="form-horizontal" method="post"  role="form" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label >নতুন ফাইলের টাইটেল</label>
                                        <input type="text" id="title" class="form-control" name="title" required>
                                    </div>
                                    <div class="form-group">
                                        <label >নতুন ফাইল আপ্লোড করুন</label>
                                        <input type="file" id="filename" class="form-control" name="kochudemonstrationInitialFile" required>
                                    </div>
                                                
                                                
                             <div class="form-group">
                                        <!-- Button -->                                        
                              <div class="col-md-offset-3 col-md-3">
                                <input type="submit" name="submit" value="আপ্লোড" class="btn btn-primary">   
                            </div>
                            </form>
    
                                
                                <div class="tz-gallery">
                                    <div class="row">
                                        <%if (records.length >0){ %>
                                            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                            <thead>
                                            <tr>
                                                <th>ক্রমিক নং</th>
                                                <th>টাইটেল</th>
                                                <th>ফাইল</th>
                                                <th>মুছুন</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <% records.forEach(function(row,index){ %>
                                                    <tr>
                                                        <td><%= index+1 %></td>
                                                        <td><%= row.title %></td>
                                                        <td><a  href="<%= row.image %>"><i class="fas fa-file"></i>
                                                        </a></td>
                                                        <td>
                                                            <a class="btn btn-danger btn-xs" href="/upazilla/kochudemonstrationInitialFileDelete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <% }else{ %>
                                            <table class="table table-bordered table-striped" id="tblexportData" cellspacing="0" cellpadding="0">
                                                <thead>
                                                <tr>
                                                    <th>ক্রমিক নং</th>
                                                    <th>টাইটেল</th>
                                                    <th>ফাইল</th>
                                                    <th>মুছুন</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% records.forEach(function(row){ %>
                                                    <tr>
                                                        <td colspan="10">No data Found</td>
                                                    </tr>
                                                <% }) %>
                                                </tbody>
                                            </table>
                                        <% } %>
                                        
    
                                    </div>
                            
                                </div>
                            
                            </div>
                            

                    </div>
                </div>
            </div>
        </div>


   
